<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.fashionhack.trace"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Required to scan for and connect to Estimote Beacons via Bluetooth. -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- Required for BLE scanning on Android 6.0 and above. -->
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Required to access Estimote Cloud. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".BeaconApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="pdk4819328281587232573" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserBoardActivity"
            android:label="@string/title_activity_user_board"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".ClothingArticleActivity"
            android:label="@string/title_activity_clothing_article"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
